<table class="previous">
  <caption><%= "#{pitcher.name} Previous Games"%></caption>
  <thead>
	<tr>
	  <th></th><th>Date</th><th>Time</th><th>VS</th><th>IP</th><th>BB</th><th>H</th><th>R</th>
	  <th>Temp</th><th>Dew</th><th>Wind</th><th>Direct</th><th>D2</th><th>Baro</th><th>Humi</th><th>Park</th>
	  <th width="50">Total count</th>
	  <th width="50">Total runs1 average</th>
	  <th width="50">Total runs2 average</th>
	  <th width="50">Total hits average</th>
	  <th width="50">Home runs average</th>
	  <th width="50">+/- 1</th>
	  <th width="50">Total Count of +/- 1</th>
	  <th></th>
	  <th width="50">PARK TOTAL 1</th>
	  <th width="50">PARK TOTAL 2</th>
	  <th width="50">PARK TOTAL COUNT</th>
	  <th width="50">PARK ab-1</th>
	  <th width="50">PARK ab-1 COUNT</th>
	  <th>OPPONENT</th>
	  <th>IP</th>
	  <th>BB</th>
	  <th>H</th>
	  <th>R</th>
	</tr>
  </thead>
  <tbody>
  	<% prev_pitchers = pitcher.prev_pitchers %>
  	<% prev_pitchers.limit(50).each_with_index do |pitcher, index| %>
	  	<tr>
	  		<td><%= index+1 %></td>
	  		<td><%= pitcher.game.game_day.date_string %></td>
	  		<td><%= pitcher.game.time %></td>
	  		<td><%= pitcher.opp_team.abbr if pitcher.opp_team %></td>
	  		<td><%= pitcher.ip %></td>
	  		<td><%= pitcher.bb %></td>
	  		<td><%= pitcher.h %></td>
	  		<td><%= pitcher.r %></td>
	  		<% weather = pitcher.game.true_weather %>
	  		<% if weather %>
	  		<td><%= weather.temp %></td>
	  		<td><%= weather.dew %></td>
	  		<td><%= weather.speed %></td>
	  		<td><%= weather.dir %></td>
	  		<td><%= d2_calc(pitcher.game.home_team.abbr, weather.dir) %></td>
	  		<td><%= weather.pressure %></td>
	  		<td><%= weather.humidity %></td>
	  		<td style="background-color: red;"><%= pitcher.game.home_team.abbr %></td>
	  		<%
	  		humid_max = weather.humid_num + 3
	  		humid_min = weather.humid_num - 3
	  		index = pitcher.game.time.index(":")
	  		game_hour = index ? pitcher.game.time[0...index].to_i : 0
    	  	period = pitcher.game.time[-2..-1]
	  		if period == "PM" && game_hour > 6
	  			humid_min = humid_min + 2
	  			humid_max = humid_max + 2
	  		end
	  		count, total_runs1_avg, total_runs2_avg, total_hits_avg, home_runs_avg, one, one_count, home_total_runs1_avg, home_total_runs2_avg, home_count, home_one, home_one_count = Weather.true_data(weather.temp_num - 5, weather.temp_num + 5, weather.dew_num-2, weather.dew_num+2, humid_min, humid_max, weather.pressure_num-0.04, weather.pressure_num+0.04, pitcher.game.home_team.name) 
	  		%>
	  		<td class="blue"><%= count %></td>
			<td style="background-color: royalblue;"><%= total_runs1_avg %></td>
			<td style="background-color: royalblue;"><%= total_runs2_avg %></td>
			<td class="blue"><%= total_hits_avg %></td>
			<td class="blue"><%= home_runs_avg %></td>
			<td style="background-color: royalblue;"><%= one %></td>
			<td class="blue"><%= one_count %></td>
			<% opposite = pitcher.game.lancers.find_by(starter: true, team_id: pitcher.opp_team.id) %>
			<td style="background-color: red;"></td>
			<td class="blue"> <%= home_total_runs1_avg %> </td>
			<td class="blue"> <%= home_total_runs2_avg %> </td>
			<td class="blue"> <%= home_count %> </td>
			<td class="blue"> <%= home_one %> </td>
			<td class="blue"> <%= home_one_count %> </td>
			<td> <%= opposite.name %> </td>
			<td> <%= opposite.ip %> </td>
			<td> <%= opposite.bb %> </td>
			<td> <%= opposite.h %> </td>
			<td> <%= opposite.r %> </td>
	  		<% end %>
	  	</tr>
  	<% end %>
  	<tr>
  	  <td></td>
  	  <td bgcolor="#DC143C">Totals</td>
  	  <td></td>
  	  <td></td>
  	  <td bgcolor="#DC143C"><%= add_innings(prev_pitchers.limit(50).map {|pitcher| pitcher.ip }) %></td>
  	  <td bgcolor="#DC143C"><%= prev_pitchers.limit(50).map {|pitcher| pitcher.bb }.sum %></td>
  	  <td bgcolor="#DC143C"><%= prev_pitchers.limit(50).map {|pitcher| pitcher.h }.sum %></td>
  	  <td bgcolor="#DC143C"><%= prev_pitchers.limit(50).map {|pitcher| pitcher.r }.sum %></td>
  	  <td colspan="26"></td>
  	</tr>
  </tbody>
</table>
